<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Portfolio</title>
    <link rel="stylesheet" href="./first.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Serif|Playfair+Display&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Nunito|PT+Serif|Playfair+Display&display=swap" rel="stylesheet">
</head>
<body>
    <form action="/results">
                <input  type="file" name="inputname" id="inputname" placeholder="Place Image Here" textarea spellcheck="false">
                <input type="submit" value="Submit">
    </form>
</body>
</html>